<!DOCTYPE html>
<html lang="en">

<head>
	<title>SMARTool</title>
	<meta charset="utf-8" />
	{% load static %}
	<link rel="stylesheet" href="{% static 'smart/css/bootstrap.min.css' %}" type = "text/css"/>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css" media="screen">
		html,
		body {
		  height:100%
		}
		#custom-button {
  			padding: 10px;
			color: white;
			background-color: #009578;
			border: 1px solid #000;
			border-radius: 5px;
			cursor: pointer;
}

#custom-button:hover {
  background-color: #00b28f;
}

#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'smart/img/SMART.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>SMARTool</h3>
					  <h6> For Journalists: Combating Fake News</h6>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff" class="well bs-sidebar" id="sidebar" style="background-color:#fff"-->
			<div>

			<ul class="nav nav-pills">
			  <li class="nav-item">
				<a class="nav-link active" href="http://127.0.0.1:8000/smart/" style="background-color: black">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="http://127.0.0.1:8000/smart/search/" >New Search</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="http://127.0.0.1:8000/contact/" style="text-color: white">Contact</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link " href="#" >About</a>
			  </li>
			</ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->




		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>

</body>

</html>
