{% extends "smart/header.html" %}


{% block content %}


<h6>Now you may submit some key terms</h6>
{{startdate}}
{{endate}}
<div class="keyterms">
    <form action="/search/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ bform.as_p}}

        <input type="file" name="hatefile">

        <input type="submit" name="{{bform.prefix}}" value="Submit">

    </form>
</div>

<br>


<!--  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">-->
<!--      <form method = post enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->

<!--         </form>-->

<!--      {{ form.date }}-->
<!--      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">-->
<!--        <div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <script>-->
<!--      $(function () {-->
<!--        $("#datetimepicker1").datetimepicker();-->
<!--      });-->
<!--    </script>-->
<!--  </div>-->


<br>


<!--    <script>-->
<!--      $(function () {-->
<!--        $("#datetimepicker1").datetimepicker();-->
<!--      });-->
<!--    </script>-->
</div>

<br>







</script>


{% endblock %}