{% extends "smart/header.html" %}


{% block content %}


<h6>Now you may submit some key terms</h6>
{{startdate}}
{{endate}}
<!--<div class="keyterms">-->
<!--    <form action="/search/" method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        {{ bform.as_p}}-->

<!--&lt;!&ndash;        <input type="file" name="hatefile">&ndash;&gt;-->

<!--        <input type="submit" name="{{bform.prefix}}" value="Submit">-->

<!--    </form>-->
<!--</div>-->

<br>



<br>
<hr>
    <div>
        <form action="/search/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_category">Examples:</label>
            <select name="category" id="id_category">
              <option value="" selected="">---------</option>

              <option value="./test/data/abusive_terms/homo.csv">homo.csv</option>
              <option value="./test/data/abusive_terms/miso.csv">miso.csv</option>
              <option value="./test/data/abusive_terms/racisttest.csv">racisttest.csv</option>

            </select>

             <input type="submit" name="{{bform.prefix}}" value="Save">
        </form>
    </div>
<br>
<br>
<hr>
<br>
    <div>
        <form action="/search/" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Enter terms manually in text area: </label>
            {{ bform.typed}} <br>
            <input type="submit" name="{{bform.prefix}}" value="Save">

        </form>
    </div>

<br>
<br>
<hr>
<br>
    <div>
        <form action="/search/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_category">Upload your Own:</label>
            {{ bform.uploaded}}

            <input type="submit" name="{{bform.prefix}}" value="Save">
        </form>

    </div>

<br>
<br>



<!--  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">-->
<!--      <form method = post enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->

<!--         </form>-->

<!--      {{ form.date }}-->
<!--      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">-->
<!--        <div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <script>-->
<!--      $(function () {-->
<!--        $("#datetimepicker1").datetimepicker();-->
<!--      });-->
<!--    </script>-->
<!--  </div>-->


<br>


<!--    <script>-->
<!--      $(function () {-->
<!--        $("#datetimepicker1").datetimepicker();-->
<!--      });-->
<!--    </script>-->
</div>

<br>







</script>


{% endblock %}