{% extends "smart/header.html" %}

{% block content %}

<h1>To create a new search, you may do any of the following: </h1>

<br>
<h5>
    <li> Submit your precompiled csv files containing terms and twitter handles via the Upload section</li>
</h5>
<h5>
    <li> Copy and paste your handles in the text area. Begin by typing 'terms' at the top and each entry should be
        separated
        by a new line
    </li>
</h5>
<h5>
    <li>Select some precompiled csv files from the drop down menu</li>
</h5>
<br>
<br>


<br>
<br>

<!--<div class="input-group date" id="datetimepicker" data-target-input="nearest">-->
<!--    <form action="/handles_search/" method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->

<!--        <label style="display: block;">-->
<!--            Select duration for Retrospective Search:-->
<!--        </label>-->
<!--        <input type="text" name="datetimes"/><br><br>-->

<!--&lt;!&ndash;        <button type="button" id="dropdownMenu5" data-toggle="dropdown"&ndash;&gt;-->
<!--&lt;!&ndash;                aria-haspopup="true" aria-expanded="false" style="display: block;">&ndash;&gt;-->
<!--&lt;!&ndash;            Date Range Selection for Live Search&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--        <label style="display: block;">-->
<!--            Select duration for Live Search:-->
<!--        </label>-->
<!--        <input type="text" name="datetimes"/><br><br>-->


<!--&lt;!&ndash;        textbox date attempt&ndash;&gt;-->

<!--&lt;!&ndash;        <label>Enter date in format YYYY-MM-DD - YYYY-MM-DD </label>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ dform.date_box}}&ndash;&gt;-->
<!--&lt;!&ndash;       &ndash;&gt;-->
<!--&lt;!&ndash;       <input type="submit" name="{{dform.prefix}}" value="Save">&ndash;&gt;-->


<!--    </form>-->
<!--</div>-->


<div>
    <form action="/post_date/" method="post">
        {% csrf_token %}

        <label>Enter start date in format YYYY-MM-DD </label>
        <input type="text" name="start_date" maxlength="100" required>

        <br>

        <label>Enter end date in format YYYY-MM-DD </label>
        <input type="text" name="end_date" maxlength="100" required>

        <input type="submit" value="Submit">
        <br>

    </form>

</div>


<br>
<hr>
<div>
    <form action="/handles_search/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_category">Examples:</label>
        <select name="category" id="id_category">
            <option value="" selected="">---------</option>

            <option value="./test/data/user_handles/meghan.csv">meghan.csv</option>
            <option value="./test/data/user_handles/meghan.csv">covid19.csv</option>

        </select>

        <input type="submit" name="{{aform.prefix}}" value="Save">
    </form>
</div>
<br>
<br>
<hr>
<br>
<div>
    <form action="/handles_search/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Enter subject manually in text area: </label>
        {{ aform.handles_typed}} <br>
        <input type="submit" name="{{aform.prefix}}" value="Save">

    </form>
</div>

<br>
<br>
<hr>
<br>
<div>
    <form action="/handles_search/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_category">Upload your Own:</label>
        {{ aform.handles_upload}}

        <input type="submit" name="{{aform.prefix}}" value="Save">
    </form>

</div>

<br>
<br>


<script>
        $(function() {
          $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
              format:  'YYYY-MM-DD'
            }
          });
        });





</script>


{% endblock %}